<script>
    window.addEventListener('DOMContentLoaded', function () {
        const element = Array
            .from(document.querySelectorAll("a"))
            .find(it => it.attributes.href.value == decodeURIComponent(location.pathname))
        if (element) {
            element
                .parentNode
                .scrollIntoView({behavior: "smooth"})
        }
    });
</script>