body {
  .filename {
    margin-left: 5px;
    white-space: nowrap;
  }
  .toc-container {
    font-size: 1rem;
    max-height: 50vh;
    overflow-y: auto;
    margin-bottom: 10px;
    border-left: 1px solid var(--text-accent);
  }
}
